.articlePage {
  padding: 40px 20px;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.articlePage__backButton {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 20px;
  background-color: rgb(166, 164, 182);
  border-radius: 5px;
  font-size: 15px;
}

.articlePage__backButton:hover {
  opacity: 0.5;
}

.articlePage__title {
  font-size: 20px;
  font-family: 500;
  margin: 20px 0 25px;
}

.articlePage__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.articlePage__link {
  text-decoration: none;
}

.articlePage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.articlePage__image {
  margin-bottom: 25px;
}

.articlePage__text {
  font-size: 15px;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  .articlePage__info {
    flex-direction: column;
    gap: 10px;
  }

  .articlePage__image {
    width: 100%;
  }
}
