.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 319px) {
  .articles {
    padding: 0 5px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 320px) {
  .articles {
    padding: 0 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 400px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media screen and (min-width: 680px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .articles {
    padding: 0 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (min-width: 1100px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}