.main {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
}

.main__buttonMore {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-top: 25px;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 20px 20px;
  }
}