.searchBar {
  width: 500px;
  background-color: rgba(216, 216, 216, 0.752);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 10px;
}

.searchBar__searchBlock {
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}

.searchBar__searchInput {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.searchBar__button {
  padding: 0 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchBar__sortBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25px;
  margin-top: 10px;
}

.searchBar__pagesTitle {
  font-size: 13px;
  margin-bottom: 10px;
}

.searchBar__select {
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.searchBar__selectBlock {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .searchBar {
    width: 100%;
    margin: 0 40px 20px;
  }
}