.article {
  max-width: 100%;
  border-radius: 10px;
  background-color: rgb(234, 229, 229);
  border: 1px solid rgba(128, 128, 128, 0.211);
}

.article__imageBlock {
  position: relative;
  width: 100%;
  height: 170px;
}

.article__image {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}

.article__info {
  padding: 10px 10px 0;
  height: 175px;
  position: relative;
}

.article__date {
  font-size: 13px;
  margin: 0 0 10px;
}

.article__title {
  font-size: 15px;
  margin-bottom: 10px;
}

.article__button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-top: auto;
}

.article__button:hover {
  background-color: bisque;
}

.article__buttonText {
  margin-right: 5px;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .article {
    max-width: 350px;
  }
}
